* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.logo {
  color: #fff;
  font-size: 40px;
}
.parent {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.parent .solid {
  width: 50%;
  height: 100vh;
  border-radius: 0 50% 50% 0;
  background-color: rgba(2, 82, 2);
  left: -10%;
  position: absolute;
  z-index: -1;
}
.solid::after {
  content: "";
  display: flex;
  position: relative;
  top: 20%;
  left: 25%;
  height: 50%;
  background-color: white;
}
.parent .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}
header h1 {
  font-weight: 600;
  font-size: 35px;
  color: rgba(0, 0, 0);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
}
ul li {
  list-style: none;
  display: inline-block;
}
ul li a {
  text-decoration: none;
  padding: 30px 10px;
  font-size: 20px;
  margin-left: 20px;
  color: black;
  cursor: pointer;
}
ul li #home {
  background-color: rgba(2, 82, 2);
  color: #fff;
}
.container {
  display: flex;
  width: 100%;
  height: 100vh;
}
.container .left {
  width: 50%;
}
.container .right {
  padding: 100px 30px;
  width: 50%;
}
button {
  background-color: rgba(2, 82, 2);
  border: none;
  color: #fff;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
}
.left img {
  width: 680px;
  padding-left: 38px;
  padding-top: 30px;
}
.right h1 {
  font-size: 100px;
}
.right h3 {
  font-size: 30px;
}
#time {
  letter-spacing: 10px;
  margin-bottom: 10px;
}
.right p {
  line-height: 23px;
  max-width: 580px;
}
